.shop-the-look__image .media img {
    width: 100%;
    height: auto;
    border-radius: 1.6rem;
    /* object-fit: cover; */
}
.shop-the-look {
    /* border: 1px solid red; */
}

.shop-the-look__image {
    position: relative;
    /* border: 1px solid red; */
    /* width: 1240px; */
    /* height: 660px; */
}
.shop-the-look__dots {
    transition: all .25s cubic-bezier(.104,.204,.492,1);
}

.shop-the-look__dots::before {
    content: "";
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: -1;
    left: -8px;
    top: 4px;
    transition: .3s ease;
    border: 1px solid #fff;
    animation: pulsing 2s infinite;
}
.shop-the-look__dots::after {
    border: 1px solid #fff;
    animation: pulsing 2s infinite;

}

.shop-the-look__dots:hover::before {
    width: 3.2rem;
    height: 3.2rem;
    left: -11px;
    top: -1px;
}

.shop-the-look__dot {
    color: black;
    width: 0.8rem;
    height: 0.8rem;
    transition: .3s ease;
    transition: all .25s cubic-bezier(.104,.204,.492,1);
}

.shop-the-look__dots:hover .shop-the-look__dot {
    color: black;
    width: 1rem;
    height: 1rem;
}

.shop-the-look .media--portrait {
    /* padding-bottom: 116%; */
    /* padding-bottom: 50; */
    border-radius: 1.6rem;
    background: white;
}

.shop-the-look__content {
    margin-top: 2rem;
    /* border: 1px solid rgb(0, 255, 4); */
}

.shop-the-look__content .h3 {
    font-size: 1.8rem;
    font-weight: 600;
}

.shop-the-look__product {
    /* border: 1px solid rgb(0, 255, 4); */
    padding: 0.6rem;
    background-color: #fff;
    /* min-width: 9rem; */
    /* min-height: 17rem; */
    border-radius: 1rem;
    position: absolute;
    top: -2rem;
    left: 5rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 2rem;
    transform: translate(-56%) translateY(60px);
    height: 134px;
    width: 314px;
}

.shop-the-look__dots:hover .shop-the-look__product {
    left: 3rem;
    opacity: 1;
    visibility: unset;
}

.shop-the-look__product a {
    text-decoration: none;
    color: inherit;
}

.shop-the-look-product-details s {
    font-size: 1.2rem;
    font-weight: 600;
}

.shop-the-look__product a:hover {
    /* color: #D03C3F; */
}

.shop-the-look__product-image {
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.shop-the-look-product-details {
    width: auto;
    /* border: 1px solid red; */
    margin-top: -10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.shop-the-look-product-details .h5 {
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    color: #3b5342;
}

.shop-the-look-product-details s {
    margin-top: -14px;
    color: #3b5342;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
}

.shop-the-look-product-details .view-product {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #8d5d48;
}

.shop-the-look__product-image img {
    width: 100%;
    height: auto;
    border-radius: 0.6rem
}

.shop-the-look .hover-button {
    background: radial-gradient(ellipse, #D03C3F 50%, black 50%);
    background-size: 700% 450%;
    background-position: right;
    transition: all 1s ease-out;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    margin-top: 2rem;
    padding: .3rem .9rem;
    letter-spacing: 0.3px;
    line-height: 28.8px;
}

.shop-the-look .hover-button:hover {
    background-position: center;
    background-size: 150% 300%;
}

.shop-the-look__content p {
    line-height: normal;
    font-size: 1.4rem;
    margin: 0;
}

.shop-the-look__grid {
    gap: 2rem;
    /* border: 1px solid red; */
    overflow: hidden;
    height: 634px;
    border-radius: 10px;
}
@media screen and (max-width:750px) {
    .shop-the-look__product {
        /* border: 1px solid red; */
        gap: 0rem;
    }
    .tr1 {
        transform: translate(-44%) translateY(84px);
    }
    .tr2 {
        transform: translate(-64%) translateY(124px);
    }
    .tr3 {
        transform: translate(-86%) translateY(94px);
    }
    .shop-the-look__product-image img {
        height: 84px;
    }
}


@media screen and (min-width:750px) {
    .shop-the-look__product {
        min-width: 17rem;
        min-height: 10rem;
        display: flex;
        flex-direction: row;
    }

    .shop-the-look__product-image {
        width: 30%;
    }

    .shop-the-look-product-details {
        width: 60%;
    }

    .shop-the-look .hover-button {
        padding: 1rem 2rem;
    }

    .shop-the-look__content .h3 {
        font-size: 2.6rem;
    }

    .shop-the-look__content p {
        font-size: 1.8rem;
    }
}


/* && */
.splide{
    border: 1px solid red;
}

.splide-card-container{
    padding:0 5rem;
    display:flex;
    gap:2rem;
    width:80rem;
    border: 2px solid red;
    position: relative;
}
.product-card{
    padding:0 5rem;
    display:flex;
    flex-direction: column;
    gap:2rem;
}
 

/* ** */
.splide-card-container{
    padding:0 5rem;
    display:flex;
    gap:2rem;
    width:50rem;
    border: 2px solid red;
    position: relative;
}
.product-card{
    padding:0 5rem;
    display:flex;
    flex-direction: column;
    gap:2rem;
}
  .product-card__image{
    height:38rem;
    width:30rem;
    object-fit:cover;
    overflow:hidden;
  }
  .product-card__image img{
    height:10rem;
    width:10rem;
    object-fit:cover;
  }
  .product-card__vendor {
    font-size: 14px;
    letter-spacing: 0.3px;
  }
  .product-card__title {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 23.4px;
    color: black;
  }
  .product-card__title:hover {
    color: #D03C3F;
  }
  .product-card__price-amount {
    font-size: 18px;
    font-weight: 700;
    color: #000;
  }
  .product-card__stock {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
  }
  @media screen and (max-width: 750px) {
    .product-card__vendor {
      font-size: 12px;
      letter-spacing: 0.3px;
    }
    .product-card__title {
      font-size: 14px;
    }
    .product-card__price-amount {
      font-size: 16px;
    }
  }
  .relative-container {
    position: relative;
  }
  .product-card__quick-view {
    top: 10px;
    right: 10px;
  }
  .bundle-product-card__info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 8.8px;
    margin-top: 3px;
  }
  .product-card__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 28.8px;
    margin-top: 5px;
  }
  .product-card__form {
    margin-bottom: 0;
  }
  .product-card__list {
    list-style-type: none;
    display: flex;
  }
  .product-card__max-stock {
    color: green;
  }
  .product-card__min-stock {
    color: red;
  }
  .product-card_badge-container {
    top: 0;
    left: 0;
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
  }
  .product-card__color-dot{
    padding:3px
  }
  .product-card_badge {
    background: green;
    margin: 3px;
    color: white;
    width: 40px;
  }
  .product-card__dicound {
    background: #D03C3F;
    color: white;
    margin: 3px;
  }
  .product-card__sold-out {
    background: #757575;
    color: white;
    margin: 3px;
  }
  .quick-view-button {
    font-size: 12px;
    padding: 5px;
  }
  .product-card__color-dot > input[type="radio"] {
    display: none;
  }
  .product-card__color-dot label {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
  }
  .product-card__color-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
  }
  .image-hover-swap .image-secondary-hidden {
    display: none;
  }
  .image-hover-swap:hover .image-secondary-hidden {
    display: block;
  }
  .product_details_heading {
    display: flex;
    align-items: center;
  }
  .image-hover-swap:hover .image-featured-hidden {
    display: none;
  }
  .product-card__form {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-card__option {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-card__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .product-card__color-dot {
    margin-right: 10px;
  }
  .product-card__new-mobile-button {
    display: none;
    color: black;
    border-radius: 50%;
    padding: 4px 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 767px) {
    .product-card__new-mobile-button {
      display: inline-block;
    }
    .product-card__add-to-cart-button {
      display: none;
    }
  }
  .product-variant-options__cross-line {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 12px;
    transform: rotate(45deg);
    border: none;
    border-left: 1px solid rgba(var(--color-foreground));
    opacity: 0.8;
    border-radius: 0;
    box-shadow: none;
    width: auto;
    height: auto;
    margin: 0;
  }
  .product-card__color-dot.out-of-stock {
    position: relative;
  }
  .product-card__color-dot.out-of-stock::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .product-card__quick-view-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    border-radius: 10rem;
    color: #fff;
    text-transform: capitalize;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-size: 14px;
    text-decoration: none;
  }
  .product-card__quick-view-button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 10rem;
    z-index: -2;
  }
  .product-card__quick-view-button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #D03C3F;
    transition: all 0.3s ease;
    border-radius: 10rem;
    z-index: -1;
  }
  .product-card__quick-view-button:hover {
    color: #fff;
  }
  .product-card__quick-view-button:hover:before {
    width: 100%;
  }
  .product-card__secondary-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.3s ease;
  }
  .product-card__image {
    position: relative;
  }
  .product-card__image:hover .product-card__secondary-image {
    opacity: 1;
  }
  @media screen and (max-width: 750px) {
    .product-card__quick-view-button {
      display: none;
    }
  }