.customweekhotspot{
    margin: 50px auto;
}

.shop-the-look__poster .media {
    height: 100%;
    width: 100%;
    background: white;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;


}
.shop-the-look__poster .media img {
    width: 100%;
    height: 100%;
    border-radius: 1.6rem;
    object-fit: cover;
}
.shop-the-look{
    width: 100%;
}

.shop-the-look__poster {
    position: relative;
    height: 100%;

}
.shop-the-look__dots {
    transition: all .25s cubic-bezier(.104,.204,.492,1);
}
.shop-the-look__dots::before {
    content: "";
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: -1;
    left: -8px;
    top: 4px;
    transition: .3s ease;
    border: 1px solid #fff;
    animation: pulsing 2s infinite;
}
.shop-the-look__dots::after {
    border: 1px solid #fff;
    animation: pulsing 2s infinite;
}
.shop-the-look__dots:hover::before {
    width: 3.2rem;
    height: 3.2rem;
    left: -11px;
    top: -1px;
}
.shop-the-look__dot {
    color: black;
    width: 0.8rem;
    height: 0.8rem;
    transition: .3s ease;
    transition: all .25s cubic-bezier(.104,.204,.492,1);
}

.shop-the-look_dots {
    width: 13px;
    height: 13px;
    background-color: lightgray;
    border-radius: 50%;
    padding: 15px;
    z-index: 1;
}
.shop-the-look__dot{
    position: relative;
    right: 4px;
    bottom: 15px;
}
.shop-the-look_dots:hover .shop-the-look_dot {
    color: black;
    width: 10px;
    height: 10px;
    padding: 10px;

}
.shop-the-look__content {
    margin-top: 2rem;
    /* border: 1px solid rgb(0, 255, 4); */
}
.shop-the-look__content .h3 {
    font-size: 1.8rem;
    font-weight: 600;
}
.shop-the-look--box .shop-the-look__product {
    /* border: 1px solid rgb(0, 255, 4); */
    padding: 0.6rem;
    background-color: #fff;
    /* min-width: 9rem; */
    /* min-height: 17rem; */
    border-radius: 1rem;
    position: absolute;
    top: -2rem;
    left: 5rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 2rem;
    transform: translate(-5%) translateY(40px);
    height: 134px;
    width: 314px;
}
.custom-hotspotsecions{
    display: flex;
    padding: 0 10rem;
}
.shop-the-look_dots:hover .shop-the-look__product {
    left: 3rem;
    opacity: 1 !important;
    visibility: unset !important;
}
.shop-the-look__product a {
    text-decoration: none;
    color: inherit;
}
.shop-the-look-product-details s {
    font-size: 1.2rem;
    font-weight: 600;
}

.shop-the-look__product-image {
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}
.shop-the-look-product-details {
    width: auto;
    /* border: 1px solid red; */
    margin-top: -10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.shop-the-look-product-details .h5 {
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    color: #3B5342;
}
.shop-the-look-product-details s {
    margin-top: -14px;
    color: #3B5342;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
}
 .view-product {
    font-size: 1.4rem;
    padding: 5px;
    text-decoration: none;
    color: #000;
    border: 1px solid black;
    font-weight: bold;
}
.shop-the-look__product-image img {
    width: 100%;
    height: auto;
    border-radius: 0.6rem
}
.shop-the-look .hover-button {
    background: radial-gradient(ellipse, #D03C3F 50%, black 50%);
    background-size: 700% 450%;
    background-position: right;
    transition: all 1s ease-out;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    margin-top: 2rem;
    padding: .3rem .9rem;
    letter-spacing: 0.3px;
    line-height: 28.8px;
}
.shop-the-look .hover-button:hover {
    background-position: center;
    background-size: 150% 300%;
}
.shop-the-look__content p {
    line-height: normal;
    font-size: 1.4rem;
    margin: 0;
}
.shop-the-look--box {
    gap: 2rem;
    overflow: hidden;
    width: 100%;
    height: 540px;
    /* width: 74%; */
    border-radius: 10px;
}
@media screen and (max-width:750px) {
    .shop-the-look__product {
        /* border: 1px solid red; */
        gap: 0rem;
    }
    .tr1 {
        transform: translate(-44%) translateY(84px);
    }
    .tr2 {
        transform: translate(-64%) translateY(124px);
    }
    .tr3 {
        transform: translate(-86%) translateY(94px);
    }
    .shop-the-look__product-image img {
        height: 84px;
    }
    .custom-hotspotsecions{
flex-direction: column;
    }
}
@media screen and (max-width:750px) {
    .shop-the-look--box {
        width: 100%;
    }
}
@media screen and (min-width:750px) {
    .shop-the-look__product {
        min-width: 17rem;
        min-height: 10rem;
        display: flex;
        flex-direction: row;
    }
    .shop-the-look__product-image {
        width: 30%;
    }
    .shop-the-look-product-details {
        width: 60%;
    }
    .shop-the-look .hover-button {
        padding: 1rem 2rem;
    }
    .shop-the-look__content .h3 {
        font-size: 2.6rem;
    }
    .shop-the-look__content p {
        font-size: 1.8rem;
    }
}

/* && */
.product-card-container .splide{
    border: 1px solid black;
    width: 35rem;
    height: 48rem;
    margin: 50px auto;
    border-top-left-radius:30px ;
    border-top-right-radius:30px ;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius:15px ;
    padding-top: 30px;
    position: relative;
   padding-bottom: 30px;
   right: 30px;
   bottom: 20px;
  background-color: white;
    
    
}

.media--portrait img{
    width: 100%;

}
.splide-card-container{
    padding:0 5rem;
    display:flex;
    gap:2rem;
    width:80rem;
    position: relative;
}
.product-card{
    padding:0 2rem;
    display:flex;
    flex-direction: column;
    gap:2rem;
}
 

/* ** */

  .product-card__image{
    height:25rem;
    width:30rem;
    object-fit:cover;
    overflow:hidden;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
  }
  .product-card__image img{
    height:10rem;
    width:10rem;
    object-fit:cover;
  }
  

 .splide__arrow{
    background: white;
}
 .splide__arrow--prev{
    left: 33rem ;
    right: -4rem;
    top: 24rem !important;
    height: 4rem;
    width: 4rem;
    border-radius:5px 5px 50% 50%;
    opacity: 1;
}
 .splide__arrow--next {
    right:-2rem;
    height: 4rem;
    width: 4rem;
    top: 18rem;
    border: 1.5px solid black;
    border-radius:50% 50% 5px 5px;
    opacity: 1;
}
 .splide__arrow svg{
    fill:#000 !important;
}
 .splide__arrow:disabled{
    opacity: 0.5;
    background: rgba(128, 128, 128, 0.461);
}
 .product-card__form{
    display: none;
}

.productviewtags {
    position: absolute;
    z-index: 40;
    background-color: blue;
    color: white;
    top: 5px;
    left: 40px;
    padding: 6px 14px;
    font-weight: bold;
    font-size: 10px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    font-size: 13px;
  }
    

.product-card__vendor{
    text-align: center;
    color: blue;
    height: 4px;
    
}
.productview{
    text-align: center;

}
.product-card__title{
    font-weight: bold;
    font-size: 20px;
    height: 15px;
}
.product-card__prices{
    text-align: center;

}
.product-card__price-amount{
    color: red;
    font-weight: bold;
    font-size: 13px;
}