.slideshow-with-text__position_relative {
    position: relative;
    height:auto;
    object-fit: cover;
  }
  .slideshow-with-text__position_absolute {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    padding:20px 20px;
  }
  
  .slideshow-with-text__text-wrapper{
    width:40%;
    padding: 20px 35px;
  }
  .slideshow-with-text__heading-link a{
    text-decoration: none;
    color:inherit;
    position: relative;
  }
  
  /* .slideshow-with-text__heading-link a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: red;
    transition: width 0.3s ease;
  }
  .slideshow-with-text__heading-link a:hover {
    color: red;
  }
  .slideshow-with-text__heading-link a:hover::before {
    width: 100%; 
  }
  .slideshow-with-text__button{
    box-sizing: border-box;
    font-size:16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding: 5px;
  } */
  .slideshow-with-text__button:hover {
    color:red;
  }
  .slideshow-with-text .splide__arrows .splide__arrow--prev{
    top: unset;
    bottom: 0;
    transform:unset;
    background:none;
    cursor: pointer;
    left: 43%;
  }
  .slideshow-with-text .splide__arrows .splide__arrow--prev svg{
    fill:#fff;
  }
  .slideshow-with-text .splide__arrows .splide__arrow--next{
    top: unset;
    bottom: 0;
    transform:unset;
    background:none;
    cursor: pointer;
    right: 43%;
  }
  .slideshow-with-text .splide__arrows .splide__arrow--next svg{
    fill:#fff;
  }
  .slideshow-with-text .splide__pagination__page {
    width: 10px; 
    height: 10px; 
    margin: 0 5px; 
    background-color: transparent;
    border-radius: 50%; 
    transition: background-color 0.3s ease;
    border: 1px solid white;
  }
  .slideshow-with-text .splide__pagination__page {
    margin: 7px 7px 0px 7px;
  }
  .slideshow-with-text .splide__pagination .is-active{
    width: 30px;
    border-radius: 10px;
    background-color: #fff;
  }
  
  @media only screen and (max-width: 750px){
    .slideshow-with-text__position_relative {
      position: relative;
      padding-bottom: 100%;
    }
    .slideshow-with-text__position_relative img{
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  
    .slideshow-with-text .splide__arrows .splide__arrow--prev{
      left: 30%;
    }
    .slideshow-with-text .splide__arrows .splide__arrow--next{
      right: 30%;
    }
    .slideshow-with-text .splide__pagination .is-active{
      width: 20px;
      height: 8px;
    }
    .slideshow-with-text__text-wrapper{
      width:80%;
      padding: 10px;
    }
    .slideshow-with-text__pre-heading{
      font-size: 5px;
    }
    .slideshow-with-text__heading-link{
      font-size: 12px;
    }
    .slideshow-with-text__button{
      font-size: 10px;
    }
    
  }