.subscribe-testing-newsletter {
    text-align: center;
    width: 100%;
    background-color: #EDFF84;
    margin: 20px auto;
    padding: 20px;
}

.subscribe-testing-newsletter h2 {
    color: #333;
    font-size: 40px;
}
.subscribe-newsletter-form {
    margin-bottom: 34px;
}

.subscribe-newsletter-form input[type="email"] {
    width: 24%;
    padding: 12px;
    padding-left: 14px;
    border: 1px solid #ddd;
    border-radius: 30px;
    font-size: 14px;
}

.subscribe-testing-newsletter button {
    background-color: #5C6E4A;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 14px;
}

@media screen and (max-width: 749px) {
    .subscribe-testing-newsletter form {
        display: flex;
        flex-direction: column;
    }
    .subscribe-testing-newsletter input[type="email"] {
        width: 90%;
    }
    .subscribe-testing-newsletter h2 {
        font-size: 36px
    }
    .subscribe-testing-newsletter button {
        margin-top: 10px;
        width: 90%;
    }
}