.headerdescriptionweek{
  width: 60%;

  
}
.mainweek-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.imageflexgrow img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 20px;
  object-fit: cover;
}
.imageflexgrow >p{
    font-size: 10px;
    
}
.headerdescriptionweek >p{
    font-size: 14px;
}


.splide__slide{
    width: 60%;
    height: 300px;
}


.imageviewpointflex > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;

}


.splide-content-blog {
  width: 300px;
  height: 250px;
  padding-left: 10px;
 padding-top: 10px;
  border-radius: 10px;


}
.splide__arrow svg{
    display: none;
}
.splide__arrow{
    background: none;
}
.splide-content-blog > h1 {
  text-align: center;
}

.splide-content-blog > p {
  text-align: center;
  font-size: 16px;
}
.topslide--weekslide {
  width:60%;
  height: 100%;
  margin-bottom: 50px;
}


.imageviewpointflex {
  display: flex;
 gap: 30px;
  align-items: center;
}
.d-none{
    display: none;
}

/* .weekslideuages{
  border: 1px solid fuchsia;
} */
.splide__slide{
width: 300px;
height: 250px;
margin: 10px;
border: 1px solid black;
border-radius: 5px;


}
.active-slide{
width: 300px;
width: 300px;
height: 250px;
background-color: #F6FFC2;
overflow: hidden;
border: 1px solid black


}
.splide_pagination_page {
  /* background: grey; */
  border-radius: 44px;
  height: 5px;
  width: 24px;
}
.splide__pagination__page.is-active {
  background: grey;
  border-radius: 44px;
  height: 4px;
  width: 34px;
  margin: 10px;
  /* margin: -10px; */
}
.splide__pagination {
  bottom: -1.8em;
}
.Login_button_view{
  text-align: center;
}
.login-button-user{
  background-color: #5C6E4A;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 14px;
  text-decoration: none;
}
@media only screen and (max-width: 749px) {
  
  .mainweek-flex{
    overflow: hidden;
  }
  .imageflexgrow img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
  }
 .headerdescriptionweek{
  width: 45%;
  margin: 10px;
 }
 .custom_heading_author{
  text-align: center;
 }
 
.headerdescriptionweek>p {
    font-size: 12px;
    text-align: center;
}

.topslide--weekslide {
  width: 60%;

} 

}
@media only screen and (max-width: 450px) {
  
  .headerdescriptionweek{
    width: 38%;
    margin: 10px;
   }
   
}
@media only screen and (max-width: 378px) {
  
  .headerdescriptionweek{
    width: 35%;
    margin: 10px;
   }
}

@media only screen and (max-width: 330px) {
  
  .headerdescriptionweek{
    width: 30%;
    margin: 10px;
   }
}