.products-section {
    font-family: var(--section-font);
}
.products-section h1 {
    text-align: center;
    font-size: 54px;
}
.products-section .splide {
    width: 90%;
    /* margin: 40px 0px 60px 100px; */
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 100px;
    visibility: visible;
}
@media only screen and (max-width: 767px) {
    .products-section .splide {
        margin-left: 0px;
        margin: auto;
    }
}
.products-section .splide__list {
    /* border: 1px solid red; */
    padding-left: 40px;
}
.products-section .splide__slide {
    /* border: 1px solid blue; */
    /* width: 240px; */
    /* width: 33.33%; */
    width: 200px;
}
.products-section .splide__slide .first-section {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    height: 30px;
    margin-top: 8px;
}
.products-section .splide__slide .first-section h3 {
    font-size: 18px;
    color: gray;
    font-weight: 200;
}
.products-section .splide__slide .first-section p {
    font-size: 18px;
    color: black;
    font-weight: 500;
}
.products-section .splide__slide .second-section {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    /* height: 40px; */
    margin-top: -14px;
}
.products-section .splide__slide .second-section h3 {
    color: black;
    font-weight: bold;
}
.products-section .splide__slide .second-section span {
    border: 1px solid black;
    padding: 1px 20px;
    border-radius: 18px;
    font-size: 12px;
}

.products-section .splide__slide img {
    width: 100%;
    border-radius: 20px;
}

.custom-tab-collections_header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .custom-tab-collections__heading {
    color: black;
    font-size: 54px;
    margin: 20px;
  }
  .custom-tab-collections_tabs {
    display: flex;
    align-items: center;
    background: #f5f8fa;
    max-width: 95rem;
    margin: 0 auto 3.5rem;
    justify-content: space-around;
    padding: 5px 10px;
    width: 60%;
    border-radius: 31px;
  }
  .custom-tab-collections_collection-name {
    cursor: pointer;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.065rem;
    padding: 1.2rem;
    transition: background 0.2s ease;
    color: #565d66;
    /* border: 1px solid black; */
    border-radius: 31px;
    width: 20%;
  }
  .custom-tab-collections .splide__arrow--next {
    right: 0;
    width: 50px;
    height: 50px;
    opacity: 1;
    background: black;
  }
  
  .custom-tab-collections .splide__arrow svg {
    fill: #fff;
    height: 1.2em;
    width: 1.2em;
    z-index: 2;
  }
  
  .custom-tab-collections .splide__arrow--prev {
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 1;
    background: black;
  }
  
  .custom-tab-collections .splide__arrow--prev:disabled,
  .custom-tab-collections .splide__arrow--next:disabled {
    display: none;
  }
  
  
  
  .tab__active {
    background: #e1e6eb;
    color: #111314;
  }


  @media screen and (max-width: 768px) {
    .products-section {
        margin: 40px auto;
    }

    .custom-tab-collections__heading {
      font-size: 24px;
      margin: 5px;
    }
  
    .custom-tab-collections_tabs {
      padding: 5px;
      border-radius: 15px;
      width: 94%;
    }
  
    .custom-tab-collections_collection-name {
      font-size: 12px;
      padding: 0.6rem;
      border-radius: 15px;
      margin: 0.3rem;
    }
  }